.address__title {
    margin-bottom:5px ;
    padding: 0;
    color: bisque;
  }
  
  .address__item {
    margin: 0;
    padding: 0;
  }

  .footer__img {
    display: block;
 
  }

  .map {
    width: 100%;
  }