.banner {
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url(./hotel.webp);
    background-size: cover;
  }

  .banner__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid white;
  }

  .banner__link:hover {
    color: bisque;
    border: 2px solid bisque;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .banner__stripe {
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    padding: 0.5rem 0;
    height: 100%;
   
  }
  
  .banner__title {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    color: bisque;
  }
  
  .banner__stripe .lead {
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }
  
  @media screen and (min-width: 740px) {
    .banner__stripe {
      padding: 1rem 0;
    }
    
    .banner__title {
      font-size: 2.5rem;
    }
  
    .banner__stripe .lead {
      font-size: 1.2rem;
    }
  }